[v-cloak] {
  display: none;
}

html {
  font-size: 14px;
}

/* .row>div {
  border: 1px solid rgb(196, 196, 196);
} */

/*.col-form-label {
    text-align: right;
}*/

.form-control {
  text-align: center !important;
}