<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Civilization 2 Combat Calculator</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="./cdn/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->
</head>

<body>
  <header class="text-center">
    <h2>Civilization 2 Combat Calculator</h2>
  </header>
  <div id="app">
    <div class="container">
      <form @submit.prevent="" novalidate>
        <!-- Unit Types -->
        <div class="row justify-content-center align-items-center text-center">
          <!-- <div class="col-1 text-secondary">{{ input.unit[0].type }}</div> -->
          <div class="col-lg-3 col-5">
            <select class="form-select text-center border-primary" aria-label="Select unit 1" v-model="input.unit[0].type" @change="moveUnitsValuesToForm(0)">
              <option v-for="option in unitTypes" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="col-2 text-center"><button type="button" class="btn btn-outline-primary" :class="getAttackColor" @click="onClickArrow">{{ getAttackArrow }}</button></div>
          <!-- <div class="col-2 text-center"><button type="button" class="btn btn-outline-primary" :class="getAttackColor" @click="onClickArrow"><i class="bi bi-arrow-right"></i></button></div> -->
          <!-- <div class=" col-2 text-center"><button type="button" class="btn btn-outline-primary bi bi-arrow-right" :class="getAttackColor" @click="onClickArrow"></button></div> -->
          <div class="col-lg-3 col-5">
            <select class="form-select text-center border-danger" aria-label="Select unit 2" v-model="input.unit[1].type" @change="moveUnitsValuesToForm(1)">
              <option v-for="option in unitTypes" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <!-- <div class="col-1 text-secondary">{{ input.unit[1].type }}</div> -->
        </div>
        <!-- Attack -->
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-1 col-2 text-secondary"><abbr :title1="output.unit[0].explain.att.join('\r\n')" tabindex="-1">{{ output.unit[0].effective.att }}</abbr></div>
          <div class="col-lg-2 col-3">
            <input type="number" min="0" class="form-control border-primary" id="inputUnit1Att" v-model="input.unit[0].att">
          </div>
          <div class="col-2">Attack</div>
          <div class=" col-lg-2 col-3">
            <input type="number" min="0" class="form-control border-danger" id="inputUnit2Att" v-model="input.unit[1].att">
          </div>
          <div class="col-lg-1 col-2 text-secondary"><abbr :title1="output.unit[1].explain.att.join('\r\n')" tabindex="-2">{{ output.unit[1].effective.att }}</abbr></div>
        </div>
        <!-- Defense -->
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-1 col-2 text-secondary"><abbr :title1="output.unit[0].explain.def.join('\r\n')" tabindex="-1">{{ output.unit[0].effective.def }}</abbr></div>
          <div class="col-lg-2 col-3">
            <input type="number" min="0" class="form-control border-primary" id="inputUnit1Def" v-model="input.unit[0].def">
          </div>
          <div class="col-2">Defense</div>
          <div class="col-lg-2 col-3">
            <input type="number" min="0" class="form-control border-danger" id="inputUnit2Def" v-model="input.unit[1].def">
          </div>
          <div class="col-lg-1 col-2 text-secondary"><abbr :title1="output.unit[1].explain.def.join('\r\n')" tabindex="-2">{{ output.unit[1].effective.def }}</abbr></div>
        </div>
        <!-- Hit Points -->
        <div class="row justify-content-center align-items-center text-center">
          <!-- <div class="col-lg-1 col-2 text-secondary">{{ output.unit[0].effective.hit }}</div> -->
          <div class="col-lg-2 col-3">
            <input type="number" min="0" step="10" class="form-control border-primary" id="inputUnit1HP" v-model="input.unit[0].hit">
          </div>
          <div class=" col-2">Hit Points</div>
          <div class="col-lg-2 col-3">
            <input type="number" min="0" step="10" class="form-control border-danger" id="inputUnit2HP" v-model="input.unit[1].hit">
          </div>
          <!-- <div class="col-lg-1 col-2 text-secondary">{{ output.unit[1].effective.hit }}</div> -->
        </div>
        <!-- Fire Power -->
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-1 col-2 text-secondary"><abbr :title1="output.unit[0].explain.firepwr.join('\r\n')" tabindex="-1">{{ output.unit[0].effective.firepwr }}</abbr></div>
          <div class="col-lg-2 col-3">
            <input type="number" min="1" class="form-control border-primary" id="inputUnit1FP" v-model="input.unit[0].firepwr">
          </div>
          <div class="col-2">Fire Power</div>
          <div class="col-lg-2 col-3">
            <input type="number" min="1" class="form-control border-danger" id="inputUnit2FP" v-model="input.unit[1].firepwr">
          </div>
          <div class="col-lg-1 col-2 text-secondary"><abbr :title1="output.unit[1].explain.firepwr.join('\r\n')" tabindex="-2">{{ output.unit[1].effective.firepwr }}</abbr></div>
        </div>
        <!-- Terrain -->
        <div class="row justify-content-center align-items-center text-center">
          <div class="col-lg-1 col-2">
            <input type="checkbox" class="btn-check" id="inputUnit1River" v-model="input.unit[0].river">
            <label class="btn btn-outline-primary" for="inputUnit1River">River</label>
          </div>
          <div class="col-lg-2 col-3">
            <select class="form-select text-center border-primary" aria-label="Select terrain 1" v-model="input.unit[0].terrain" @change="moveUnitsValuesToForm(0)">
              <option v-for="option in terrainTypes" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="col-2">Terrain</div>
          <div class="col-lg-2 col-3">
            <select class="form-select text-center border-danger" aria-label="Select terrain 2" v-model="input.unit[1].terrain" @change="moveUnitsValuesToForm(1)">
              <option v-for="option in terrainTypes" :key="option.value" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="col-lg-1 col-2">
            <input type="checkbox" class="btn-check" id="inputUnit2River" v-model="input.unit[1].river">
            <label class="btn btn-outline-danger" for="inputUnit2River">River</label>
          </div>
        </div>
        <!-- Options -->
        <div class="row justify-content-center text-center">
          <div class="col-lg-4 col-6">
            <input type="checkbox" class="btn-check" id="inputUnit1Veteran" v-model="input.unit[0].veteran">
            <label class="btn btn-outline-primary" for="inputUnit1Veteran">Veteran</label>
            <input type="checkbox" class="btn-check" id="inputUnit1Fortified" v-model="input.unit[0].fortified">
            <label class="btn btn-outline-primary" for="inputUnit1Fortified">Fortified</label>
            <input type="checkbox" class="btn-check" id="inputUnit1Paradrop" v-model="input.unit[0].paradrop">
            <label class="btn btn-outline-primary" for="inputUnit1Paradrop" v-show="canMakeParadrops(0)">Paradrop</label>
          </div>
          <div class="col-lg-4 col-6">
            <input type="checkbox" class="btn-check" id="inputUnit2Veteran" v-model="input.unit[1].veteran">
            <label class="btn btn-outline-danger" for="inputUnit2Veteran">Veteran</label>
            <input type="checkbox" class="btn-check" id="inputUnit2Fortified" v-model="input.unit[1].fortified">
            <label class="btn btn-outline-danger" for="inputUnit2Fortified">Fortified</label>
            <input type="checkbox" class="btn-check" id="inputUnit2Paradrop" v-model="input.unit[1].paradrop">
            <label class="btn btn-outline-danger" for="inputUnit2Paradrop" v-show="canMakeParadrops(1)">Paradrop</label>
          </div>
        </div>
        <!-- Location -->
        <div class="row justify-content-center text-center">
          <div class="col-lg-4 col-6">
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" name="groupLocation1" id="inputUnit1Open" v-model="input.unit[0].location" value="Open" checked>
              <label class="btn btn-outline-primary" for="inputUnit1Open">Open</label>
              <input type="radio" class="btn-check" name="groupLocation1" id="inputUnit1City" v-model="input.unit[0].location" value="City">
              <label class="btn btn-outline-primary" for="inputUnit1City">City</label>
              <input type="radio" class="btn-check" name="groupLocation1" id="inputUnit1Fortress" v-model="input.unit[0].location" value="Fortress">
              <label class="btn btn-outline-primary" for="inputUnit1Fortress">Fortress</label>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" name="groupLocation2" id="inputUnit2Open" v-model="input.unit[1].location" value="Open" checked>
              <label class="btn btn-outline-danger p-1" for="inputUnit2Open">Open</label>
              <input type="radio" class="btn-check" name="groupLocation2" id="inputUnit2City" v-model="input.unit[1].location" value="City">
              <label class="btn btn-outline-danger" for="inputUnit2City">City</label>
              <input type="radio" class="btn-check" name="groupLocation2" id="inputUnit2Fortress" v-model="input.unit[1].location" value="Fortress">
              <label class="btn btn-outline-danger p-1" for="inputUnit2Fortress">Fortress</label>
            </div>
          </div>
        </div>
        <!-- City Improvements -->
        <div class="row justify-content-center text-center">
          <div class="col-lg-4 col-6">
            <input type="checkbox" class="btn-check" id="inputUnit1CityWalls" v-model="input.unit[0].city.walls">
            <label class="btn btn-outline-primary" for="inputUnit1CityWalls">Walls</label>
            <input type="checkbox" class="btn-check" id="inputUnit1CityCoastal" v-model="input.unit[0].city.coastal">
            <label class="btn btn-outline-primary" for="inputUnit1CityCoastal">Coastal</label>
            <input type="checkbox" class="btn-check" id="inputUnit1CitySDI" v-model="input.unit[0].city.sdi">
            <label class="btn btn-outline-primary" for="inputUnit1CitySDI">SDI</label>
            <input type="checkbox" class="btn-check" id="inputUnit1CitySAM" v-model="input.unit[0].city.sam">
            <label class="btn btn-outline-primary" for="inputUnit1CitySAM">SAM</label>
          </div>
          <div class="col-lg-4 col-6">
            <input type="checkbox" class="btn-check" id="inputUnit2CityWalls" v-model="input.unit[1].city.walls">
            <label class="btn btn-outline-danger" for="inputUnit2CityWalls">Walls</label>
            <input type="checkbox" class="btn-check" id="inputUnit2CityCoastal" v-model="input.unit[1].city.coastal">
            <label class="btn btn-outline-danger" for="inputUnit2CityCoastal">Coastal</label>
            <input type="checkbox" class="btn-check" id="inputUnit2CitySDI" v-model="input.unit[1].city.sdi">
            <label class="btn btn-outline-danger" for="inputUnit2CitySDI">SDI</label>
            <input type="checkbox" class="btn-check" id="inputUnit2CitySAM" v-model="input.unit[1].city.sam">
            <label class="btn btn-outline-danger" for="inputUnit2CitySAM">SAM</label>
          </div>
        </div>
        <!-- Chances -->
        <div class=" row justify-content-center text-center">
          <div class="col-lg-6 col-8 text-center">
            <div class="position-relative mb-2">
              <div class="position-absolute w-100">
                <div class="progress-stacked" style="height: 22px;">
                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{ width: output.unit[0].p0 + '%' }"></div>
                  <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{ width: output.unit[1].p0 + '%' }"></div>
                </div>
              </div>
              <div class="position-absolute text-white w-100">
                <div class="row justify-content-center text-center">
                  <div class="col">{{ output.unit[0].p0 }} %</div>
                  <div class="col-2 p-0">Round</div>
                  <div class="col">{{ output.unit[1].p0 }} %</div>
                </div>
              </div>.
            </div>
            <div class="position-relative mb-2">
              <div class="position-absolute w-100">
                <div class="progress-stacked" style="height: 22px;">
                  <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{ width: output.unit[0].pc + '%' }"></div>
                  <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" :style="{ width: output.unit[1].pc + '%' }"></div>
                </div>
              </div>
              <div class="position-absolute text-white w-100">
                <div class="row justify-content-center text-center">
                  <div class="col">{{ output.unit[0].pc }} %</div>
                  <div class="col-2 p-0">Battle</div>
                  <div class="col">{{ output.unit[1].pc }} %</div>
                </div>
              </div>.
            </div>
          </div>
        </div>
        <div class="text-center mb-2 small">%</div>
        <!-- <div class="row justify-content-center mb-2">
          <div class="col-6 text-center">{{ output.unit[0].p }} %</div>
          <div class="col-6 text-center">{{ output.unit[1].p }} %</div>
        </div> -->
        <div class="row justify-content-center g-0">
          <div class="col-md-5 col-6"><canvas id="myChart1"></canvas></div>
          <div class="col-md-5 col-6"><canvas id="myChart2"></canvas></div>
        </div>
        <div class="row text-center">
          <div class="col-6 small">HP left</div>
          <div class="col-6 small">HP left</div>
        </div>
        <div class="row justify-content-center g-0">
          <div class="col-3 text-end"><button type="button" class="btn btn-success" @click="onClickStart">Simulate</button></div>
          <div class="col-lg-2 col-3 text-center p-0">{{ output.s }}</div>
          <div class="col-3 text-start"><button type="button" class="btn btn-danger" @click="onClickStop" v-show="showStop">Stop</button></div>
        </div>
        <!-- <div class="row justify-content-center">
          <div class="col-6 text-center">{{ totHP1 }}</div>
          <div class="col-6 text-center">{{ totHP2 }}</div>
        </div> -->
      </form>
    </div>
  </div>
  <div id="errors"></div>
  <div class="version">Test Version 18.14</div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="./cdn/vue.global.js"></script>
  <script src="./cdn/Chart.js"></script>
  <script src="./cdn/bootstrap.bundle.min.js"></script> -->
  <script type="module" src="main.js"></script>
</body>

</html>
</head>